.toggle-button {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color .4s;
}

.toggle-button:has(:checked) {
  background-color: #4bd865;
}

.toggle-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  background-color: #fff;
  content: '';
  transition: left .4s;
}

.toggle-button:has(:checked)::after {
  left: 20px;
}

.toggle-button input {
  display: none;
}

div.section_title {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 1.5em;
  font-weight: bold;
  background: linear-gradient(to bottom, #b9b9b97d, #ffffff);
}

div.setting_item {
  padding-left: 10px;
}

.setting_name {
  display: inline-block;
  font-size: 1.2em;
}

.setting_value {
  display: inline-block;
}

.setting_value.toggle-button {
  top: 5px;
}

input[type="text"][name="company_code"] {
  width: 30px;
}

input[type="button"][name="save"] {
  margin-top: 10px;
  margin-left: 5px;
}

input:invalid {
  background-color: pink;
}

.table {
  width: 350px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th {
  padding: 5px 0px 5px 0px;
  border-bottom: solid 4px #778ca3;
  color: #778ca3
}

.table td {
  padding: 5px 5px 5px 5px;
  border-bottom: solid 1px #778ca3;
}

.table-footer {
  width: 350px;
  padding-top: 5px;
  text-align: center;
}

.btn {
  display: inline-block;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  border: 0;
  background-color: dimGray;
  border-radius: 32px;
  margin: 0;
  padding: 0;
  transform: scale(0.5);
  cursor: pointer;
}

.btn:hover {
  background-color: #0E7AC4;
}

.remove-btn:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 10px;
  width: 4px;
  height: 18px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.remove-btn:after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 10px;
  width: 4px;
  height: 18px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.add-btn:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 10px;
  width: 4px;
  height: 18px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.add-btn:after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 10px;
  width: 4px;
  height: 18px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}